$lightgray: #DCE1E5;
$navy: #003660;
$seagreenweb: #09847A;
$aquaweb: #047C91;
$mist: #9CBEBE;
$lightgraydarken: #111517;
$platinum: #e0e1dd;
$bittersweet: #F76C5E;
$bdazzledblue: #345995;
$darkcornflowerblue: #324376;
$cornyellow: #ffed65;
$babypowder: #FDFFFC;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.bg-about {
	background-color: $platinum;
}
.about-text {
	font-family: 'Poppins', serif;
	color: $navy;
}
.content-text {
	font-family: 'Open Sans', serif;
	color: $lightgraydarken;
}
.bg-officers {
	background-color: $darkcornflowerblue;
}
.text-officers {
	font-family: 'Poppins', serif;
	color: $babypowder;
}
.text-officers-info {
	color: $platinum;
	font-family: 'Poppins', serif;
}
