$navy: #003660;
$lightmist: #DAE6E6;
$aquaweb: #047C91;
$bdazzledblue: #345995;
$seagreenweb: #09847a;
@font-face {
  font-family: 'Poppins-Medium';
  src: url(/Poppins-Medium.ttf) format('truetype');
}
.bg-footer {
  background-color: $seagreenweb;
}
.content-1 {
  font-family: "Poppins-Medium";
  color: $lightmist;
  text-align: left;
}
.content-2 {
  font-family: "Poppins-Medium";
  color: $lightmist;
  text-align: left;
  font-size: 15px;
}
.content-2 h1 {
  color: #F4D35E;
  font-size: 20px;
}
