$navy: #003660;
$lightblue: rgb(56,164,208);
$lightmist: #DAE6E6;
$aquaweb: #047C91;
$bdazzledblue: #345995;
$babypowder: #FDFFFC;
$coralred: #EF5645;
$seagreenweb: #09847a;
@font-face {
  font-family: 'Poppins-Medium';
  src: url(/Poppins-Medium.ttf) format('truetype');
}
.bg-footer {
  background-color: #730F7A;
}
.content-1 {
  font-family: "Poppins-Medium";
  color: $babypowder;
  text-align: left;
}
.content-2 {
  font-family: "Poppins-Medium";
  color: $babypowder;
  text-align: left;
  font-size: 15px;
}
.content-2 h1 {
  color: #CE00D7;
  font-size: 20px;
}
