$lightgray: #dce1e5;
$lightgraydarken: #111517;
@media (min-width: 0px) {
  .ucsb-link {
    font-size: 4.5rem;
    font-family: 'Roboto Slab', serif;
    color: #febc11;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #003660;
  }
}
@media (min-width: 768px) {
  .ucsb-link {
    font-size: 7rem;
    font-family: 'Roboto Slab', serif;
    color: #febc11;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #003660;
  }
}
@media (min-width: 1024px) {
  .ucsb-link {
    font-size: 10rem;
    font-family: 'Roboto Slab', serif;
    color: #febc11;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #003660;
  }
}
.bg-home {
  background-color: $lightgray;
}
.bg-whoweare {
  height: 80vh;
  background-color: $lightgraydarken;
}
.big-text {
  font-size: 40px;
  color: white;
  font-family: 'Poppins', sans-serif;
}
.line-coral {
  height: 50%;
  background: #ef5645;
}
.bg-asphalt {
  background-color: #807e78;
}
.bg-textbox {
  background-color: $lightgraydarken;
}
.line-white {
  height: 8%;
  background: white;
}
.line-gold {
  background: #febc11;
}
.line-navy {
  background: #003660;
}
.info-text {
  font-family: 'Open Sans', sans-serif;
  color: white;
}
.home-toptext {
  font-family: 'Poppins', sans-serif;
}
