$lightgray: #DCE1E5;
$seagreenweb: #09847A;
$aquaweb: #047C91;
$mist: #9CBEBE;
$lightgraydarken: #111517;
$coral: #EF5645;
$lightmist: #DAE6E6;
$sandstone: #C9BF9D;
$lightsandstone: #EDEADF;
$moss: #6D7D33;
$gold: #FEBC11;
$platinum: #E0E1DD;
$cornyellow: #ffed65;
$seafoamgreen: #96CEB4;
$darkcornflowerblue: #324376;


//new colors
$navy: #033661;
$purple: #8413FF;
$pink: #CE00D7;
$darkpurple: #730F7A;
$lightpink: #F10093;
$cyan: #0093AC;
@media (min-width: 0px) {
  .ucsb-link {
    font-size: 4.5rem;
    font-family: 'Roboto Slab', serif;
    color: #febc11;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: $navy;
  }
}
@media (min-width: 768px) {
  .ucsb-link {
    font-size: 7rem;
    font-family: 'Roboto Slab', serif;
    color: #febc11;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: $navy;
  }
}
@media (min-width: 1024px) {
  .ucsb-link {
    font-size: 10rem;
    font-family: 'Roboto Slab', serif;
    // color: #9FE2BF; 
	color: #FEBC11; 
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: $navy;
  }
}
.bg-home {
  background-color: #DCE1E5; 
}
.bg-whoweare {
  height: 80vh;
  background-color: $navy;
}
.big-text {
  font-size: 40px;
  color: white;
  font-family: 'Poppins', sans-serif;
}
.line-coral {
  height: 50%;
  background: #ef5645;
}
.bg-asphalt {
  background-color: #807e78;
}
.bg-textbox {
  background-color: $navy;
}
.line-white {
  height: 8%;
  background: white;
}
.line-gold {
  background: $gold;
}
.line-navy {
  background: #003660;
}
.info-text {
  font-family: 'Open Sans', sans-serif;
  color: white;
}
.home-toptext {
  font-family: 'Poppins', sans-serif;
  color: #324376;
}
.rotate-text {
	font-family: 'Roboto Slab', serif;
}
.wwa-container {
	border-color: $lightmist;
}
.bg-about-boxes {
	background-color: #DCE1E5;
}
.bg-box {
	background-color: $navy;
}
.box-signup {
  font-family: 'Open Sans', sans-serif;
	background-color: $gold;
	border-radius: 12px;
	color: black;
}
