$navy: #003660;
$lightgray: #dce1e5;
$seagreenweb: #09847a;
$aquaweb: #047c91;
$mist: #9cbebe;
$lightgraydarken: #111517;
$lightmist: #dae6e6;
$sandstone: #c9bf9d;
$lightsandstone: #edeadf;
$bdazzledblue: #345995;
$cornyellow: #ffed65;
$babypowder: #FDFFFC;
$darkcornflowerblue: #324376;
$lightblue: rgb(56,164,208);
$darkgreen: #12574A;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
//the hover bg should be the lightpink color
.bg-hover {
	background-color: #F10093;
}
.item-selected-bg {
  background-color: #CE00D7;
  color: $babypowder;
}
.text-items {
  color: $babypowder; 
}
.sae-text {
  font-family: 'Poppins';
  color: white;
}
.navbarColor {
  background-color: #730F7A; 
}
