$lightgray: #DCE1E5;
$seagreenweb: #09847A;
$aquaweb: #047C91;
$mist: #9CBEBE;
$lightgraydarken: #111517;
@font-face {
  font-family: 'Poppins-Medium';
  src: url(/Poppins-Medium.ttf) format('truetype');
}
.item-selected-bg {
	background-color: #F4D35E;
	color: #083D77;
}
.text-items {
	color: #EBEBD3;
}
.sae-text {
	font-family: 'Poppins-Medium';
	color: #F4D35E;
}
.navbarColor {
	background-color: $aquaweb;
}
