$navy: #003660;
$lightgray: #DCE1E5;
$seagreenweb: #09847A;
$aquaweb: #047C91;
$mist: #9CBEBE;
$lightgraydarken: #111517;
$lightmist: #DAE6E6;
$sandstone: #C9BF9D;
$lightsandstone: #EDEADF;
@font-face {
  font-family: 'Poppins-Medium';
  src: url(/Poppins-Medium.ttf) format('truetype');
}
.item-selected-bg {
	background-color: $lightsandstone;
	color: #083D77;
}
.text-items {
	color: $lightmist;
}
.sae-text {
	font-family: 'Poppins-Medium';
	color: $lightmist;
}
.navbarColor {
	background-color: $aquaweb;
}
