---
import Nav from "../components/Nav";
import About from "../components/about/About"
---
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>About</title>
</head>

<body>
	<Nav currentPage={"about"} client:visible/>
	<About/>
</body>

</html>

