---
import Footer from "../components/Footer.astro";
import FormulaElectric from "../components/fsae/FormulaElectric";
import Nav from "../components/Nav";
---
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/logo-new.png" />
	<title>Formula SAE Electric -- UCSB</title>
</head>
<body>
	<div class="relative">
		<div class="fixed z-50 w-screen">
			<Nav currentPage={"FSAE"} client:visible />
		</div>
		<FormulaElectric/>
		<Footer />
	</div>
</body>

</html>

