---
import FSAE from "../components/fsae/Fsae";
import Nav from "../components/Nav";
---
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>Formula SAE Electric -- UCSB</title>
</head>

<body>
	<Nav currentPage={"FSAE"} client:visible/>
	<FSAE/>
</body>

</html>
