---
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav';
import Home from '../components/home/Home'
---

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>UCSB SAE</title>
</head>

<body>
	<Nav currentPage={"Home"} client:visible/>
	<Home client:load/>
	<Footer/>
</body>

</html>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

	body {
		background-color: rgb(17, 24, 39);
	}

	h1 {
		font-size: 1.5rem;
	}
</style>
