---
import Nav from "../components/Nav";
import Newsletter from "../components/newsletter/Newsletter";
---
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>Newsletter</title>
</head>

<body>
	<Nav currentPage={"newsletter"} client:visible/>
	<Newsletter/>
</body>

</html>

