---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav";
import Newsletter from "../components/newsletter/Newsletter.astro";
---
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>Newsletter</title>
</head>

<body>
	<div class="relative">
		<div class="fixed z-50 w-screen">
			<Nav currentPage={"Newsletter"} client:visible />
		</div>
		<Newsletter />
		<Footer />
	</div>
</body>

</html>
