---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav";
import Sponsors from "../components/sponsors/Sponsors";
import IndividualDonors from "../components/sponsors/IndividualDonors.astro";
---
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/logo-new.png" />
	<title>Sponsors</title>
</head>

<body>
	<div class="relative">
		<div class="fixed z-50 w-screen">
			<Nav currentPage={"Sponsors"} client:visible />
		</div>
		<Sponsors/>
		<IndividualDonors/>
		<Footer />
	</div>
</body>

</html>
