---
import '../../styles/Home.scss'
import ScrollingImages from './HomeHelpers'
---
<!DOCTYPE html>
<html lang="en">

<body>
	<div class="flex bg-whoweare">
		<div class="hidden md:block flex-1 shrink">
			<ScrollingImages client:load images={["img1","img2"]}/>
		</div>
		<div
			class="flex flex-col shrink-0 w-full border-solid border-white border-2 md:w-[35rem] lg:w-[50rem] justify-start">
			<div class="flex flex-col h-[2.6rem] justify-start">
				<div class="line-navy h-2/5 w-full"></div>
				<div class="line-gold h-2/5 w-full"></div>
				<div class="flex flex-row space-x-4 sm:space-x-6 md:space-x-8 bg-white h-1/5 w-full">
					<div class="bg-red-600 h-full w-8"></div>
					<div class="bg-red-600 h-full w-8"></div>
					<div class="bg-red-600 h-full w-8"></div>
					<div class="bg-red-600 h-full w-8"></div>
					<div class="bg-red-600 h-full w-8"></div>
					<div class="bg-red-600 h-full w-8"></div>
					<div class="bg-red-600 h-full w-8"></div>
					<div class="bg-red-600 h-full w-8"></div>
					<div class="bg-red-600 h-full w-8"></div>
					<div class="bg-red-600 h-full w-8"></div>
					<div class="bg-red-600 h-full w-8"></div>
					<div class="bg-red-600 h-full w-8"></div>
					<div class="bg-red-600 h-full w-8"></div>
				</div>
			</div>
			<div class="flex bg-asphalt flex-row">
				<div class="flex flex-col space-y-2 py-2 flex-none w-1/12 big-text justify-center">
					<div class="line-white"></div>
				</div>
				<div class="shrink-0 w-auto mx-2 big-text justify-center">Who We Are</div>
				<div class="flex flex-row py-2 flex-1 items-center">
					<div class="line-white w-full"></div>
				</div>
			</div>
			<div class="flex flex-col h-[2.6rem] justify-end">
				<div class="flex flex-row space-x-4 sm:space-x-6 md:space-x-8 bg-white h-1/5 w-full">
					<div class="bg-red-600 h-full w-8"></div>
					<div class="bg-red-600 h-full w-8"></div>
					<div class="bg-red-600 h-full w-8"></div>
					<div class="bg-red-600 h-full w-8"></div>
					<div class="bg-red-600 h-full w-8"></div>
					<div class="bg-red-600 h-full w-8"></div>
					<div class="bg-red-600 h-full w-8"></div>
					<div class="bg-red-600 h-full w-8"></div>
					<div class="bg-red-600 h-full w-8"></div>
					<div class="bg-red-600 h-full w-8"></div>
					<div class="bg-red-600 h-full w-8"></div>
					<div class="bg-red-600 h-full w-8"></div>
					<div class="bg-red-600 h-full w-8"></div>
				</div>
				<div class="line-gold h-2/5 w-full"></div>
				<div class="line-navy h-2/5 w-full"></div>
			</div>
			<div class="flex flex-col flex-1 justify-center">
				<p class="mx-auto info-text w-3/5 text-center text-xl sm:text-3xl">
				Gaucho Racing is a SAE Collegiate Design Series organization managed by UC Santa Barbara’s SAE Collegiate Chapter.  Our mission is to research, build and test a Formula SAE Electric vehicle, and to enter it in an SAE International competition in 2022.
				</p>
			</div>
		</div>
		<div class="hidden md:block flex-1">test3</div>
	</div>
</body>

</html>
