<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>Sponsors</title>
</head>

<body>
	<div class="w-screen h-64 bg-gray-800">
	Test
	</div>
</body>

</html>

