---
import '../styles/Footer.scss'
import {FooterIcons} from '../components/Icons'
---
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>Sponsors</title>
</head>

<body>
	<div class="w-screen h-64 bg-footer">
		<div class="flex h-full flex-col sm:flex-row">
			<div class="content-1 flex flex-col flex-1 space-y-1 justify-center">
				<div class="flex flex-row">
					<div class="flex-1"></div>
					<div class="basis-auto text-base sm:text-2xl">
						<p>UCSB Gaucho Racing</p>
						<p>CoE Machine shop</p>
						<p>Arts Building 524, Room 0249</p>
						<p>Santa Barbara, CA 93106</p>
					</div>
					<div class="flex-1"></div>
				</div>
			</div>
			<div class="content-2 flex flex-col flex-1 space-y-1 justify-center">
				<div class="flex flex-row">
					<div class="flex-1"></div>
					<div class="basis-auto text-sm sm:text-lg">
						<h1 class="text-white">Contact us at:</h1>
						<p>ucsantabarbarasae@gmail.com</p>
						<p>(626)614 7420</p>
						<FooterIcons client:load/>
					</div>
					<div class="flex-1"> </div>
				</div>
			</div>
			<div />
		</div>
	</div>
</body>

</html>
